.App {
  text-align: center;
}

body {
  background-color: #c0c0c0; /* Cor de fundo da página */
  margin: 0; /* Remove qualquer margem padrão */
  padding: 0; /* Remove qualquer padding padrão */
  height: 100vh; /* Garantir que a altura da página ocupe toda a tela */
}
